* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // set 1rem to 10px (10px/16px = 62.5%)
}

body {
  color: var(--color-light_1);
  font-family: "Open Sans", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(
    to right bottom,
    var(--color-tertiary),
    var(--color-primary)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
