// Colors
:root {
  --color-primary: #192965;
  --color-secondary: #bbcfff;
  --color-tertiary: #faafff;

  --color-primary-pink: #b820d6;

  --color-light_1: #f4f4f4;
  --color-light_2: #e2dede;
  --color-light_3: #d7d9dd;

  --color-dark_1: #525252;
  --color-dark_2: #414141;
  --color-dark_3: #313131;
  --color-dark_4: #25242a;

  --shadow-dark: 0 2.5rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.08);
  --shadow-light-2: 0 0.05rem 0.15rem var(--color-dark_2);

  --line: 1.5px solid var(--color-light_3);
}
