// Colors
:root {
  --color-primary: #192965;
  --color-secondary: #bbcfff;
  --color-tertiary: #faafff;

  --color-light_1: #f4f4f4;
  --color-light_2: #eae9e9;
  --color-light_3: #d4d7dd;

  --color-dark_1: #525252;
  --color-dark_2: #414141;
  --color-dark_3: #313131;
  --color-dark_4: #25242a;
}
